/*
    Переменные. Задаются через $название-переменной: то, что содержится в ней;
    чтобы использовать прописываем вначале файла стилей @import 'путь до styles/index.scss';
    В качестве примера смотри компоненту Button
*/

$accent-1: #ffe7a5;
$accent-2: #fcb686;
$border-radius: 12px;